<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codler_fun.mycoachdbt">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GrapActivity"></activity>
        <activity android:name=".GraphActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".ChartActivity" />
        <activity android:name=".Medoc" />
        <activity android:name=".Sport" />
        <activity android:name=".Glycemie" />
        <activity android:name=".Food" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login_user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register_user" />
        <activity android:name=".Docter_side" />
        <activity android:name=".Verify" />
    </application>

</manifest>